.modal-content table{
border-collapse: separate;
border-spacing: 2px;
border-color: #808080;
}
.display_all_events table{
border-collapse: separate;
border-spacing: 6px;
border-color: #808080;
}
tr{
}
td{
}
.text_data_darker{
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    font-size: 14px;
    background-color: #efefef;
    color: #000;
    font-weight: normal;
    font-family: "Calibri";
    text-align: left;
    vertical-align: middle;
}
.text_data {
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    font-size: 13px;
    background-color: #f4ffff;
    color: #000;
    font-weight: normal;
    font-family: "Calibri";
    text-align: left;
    vertical-align: top;
}

.kns_inputSelectWidth {
    width: 70%;
}
.kns_inputText {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 5px 5px 5px 5px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDD;
    font-size: 14px;
    background-color: #FFF;
    color: #000;
    font-weight: normal;
}
.kns_inputTextRequired {
    border-left-color: #F00;
    border-left-width: medium;
    border-left-style: inset;
    border-right-color: #F00;
    border-right-width: medium;
    border-right-style: inset;
}
.event_details{
    background-color: #FFF;
}

.event_details, .plans_visit_date{
    border-radius: 10px;
    box-shadow: 0px 2px 0px 1px #DDD;
}
.follow_up_info{
display:none
}
.eventhide{
  background-color: gray !important;
  color: rgb(90, 90, 90);
  }
  .eventhide :hover{
  color: #fff;
  }
.planbox{background-color:rgb(58, 135, 173);}
.planbox, .re-scheduledbox, .visitbox{
width:110px; height:18px;float: left;
  margin-left: 10px;  color: black;
  text-align: center;
  margin-top: 10px;
  border-radius: 2px;
  cursor: pointer;
  }

.re-scheduledbox{background-color:rgb(255, 165, 0);}
.visitbox{background-color:rgb(0, 128, 0);}
#pageNavPosition{
float:right;
margin-bottom: 10px;
  margin-top: 20px;
}

.ligend{
     margin-right: auto;
    text-align: center;
    margin-left: 40%;
   margin-bottom: 35px;
    clear: both;
}
.pg-normal {
color: black;
font-weight: normal;
text-decoration: none;    
cursor: pointer;  
padding-left: 10px;
background-color: #D10000;
padding-right: 10px;
margin-left: 10px;
color: #FFF;
border: 1px solid #808080;
font-size: 12px;	
text-decoration: none;				  
}
.pg-selected {
color: black;
font-weight: bold;        
text-decoration: underline;
cursor: pointer;
padding-left: 10px;
background-color: #EA6E6E;
padding-right: 10px;
margin-left: 10px;
color: #FFF;
border: 1px solid #808080;
font-size: 12px;
text-decoration: none;
}
 #calendar {
  margin: 0 auto;
      float: right;
  }
  .list_of_sales{
  float: left; margin: 14px auto;
  }
.date {
	width: 130px; height: 135px; 
	background: #fcfcfc; 
	background: linear-gradient(top, #fcfcfc 0%,#dad8d8 100%); 
	background: -moz-linear-gradient(top, #fcfcfc 0%, #dad8d8 100%); 
	background: -webkit-linear-gradient(top, #fcfcfc 0%,#dad8d8 100%); 
	border: 1px solid #d2d2d2;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}
.date p {
	font-family: Helvetica, sans-serif; 
	font-size: 43px; text-align: center; color: #9e9e9e; 
}

.date p span {
	background: #d10000; 
	background: linear-gradient(top, #d10000 0%, #7a0909 100%);
	background: -moz-linear-gradient(top, #d10000 0%, #7a0909 100%);
	background: -webkit-linear-gradient(top, #d10000 0%, #7a0909 100%);
	font-size: 24px; font-weight: bold; color: #fff; text-transform: uppercase; 	
	display: block;
	border-top: 3px solid #a13838;
	border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	padding: 6px 0 6px 0;
}
.plans_visit_date {/*width:138px;*/}

@-moz-document url-prefix() {
    .date {
        padding: 0px 0 0 0;
    }
    .date p span {
    	padding: 5px 0 3px 0;
    }
}
.error_msg, .visit_error_msg, .visit_msg{
color:red;
}
.haserror{
border:1px solid red;
}
 #calendar {
  /*width: 78%;*/
  margin: 14px auto;
 background-color: inherit;
  }
  
  [hidden] { display: none; }

.visually-hidden {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}

div.awesomplete {
	display: block;
	position: relative;
}

div.awesomplete > input {
	display: block;
}

div.awesomplete > ul {
	position: absolute;
	left: 0;
	z-index: 1;
	max-width: 100%;
	box-sizing: border-box;
	list-style: none;
	padding: 0;
	border-radius: .3em;
	margin: .2em 0 0;
	background: hsla(0,0%,100%,.9);
	background: linear-gradient(to bottom right, white, hsla(0,0%,100%,.8));
	border: 1px solid rgba(0,0,0,.3);
	box-shadow: .05em .2em .6em rgba(0,0,0,.2);
	text-shadow: none;
}

div.awesomplete > ul[hidden],
div.awesomplete > ul:empty {
	display: none;
}

@supports (transform: scale(0)) {
	div.awesomplete > ul {
		transition: .3s cubic-bezier(.4,.2,.5,1.4);
		transform-origin: 1.43em -.43em;
	}
	
	div.awesomplete > ul[hidden],
	div.awesomplete > ul:empty {
		opacity: 0;
		transform: scale(0);
		display: block;
		transition-timing-function: ease;
	}
}

	/* Pointer */
	div.awesomplete > ul:before {
		content: "";
		position: absolute;
		top: -.43em;
		left: 1em;
		width: 0; height: 0;
		padding: .4em;
		background: white;
		border: inherit;
		border-right: 0;
		border-bottom: 0;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	div.awesomplete > ul > li {
		position: relative;
		padding: .2em .5em;
		cursor: pointer;
	}
	
	div.awesomplete > ul > li:hover {
		background: hsl(200, 40%, 80%);
		color: black;
	}
	
	div.awesomplete > ul > li[aria-selected="true"] {
		background: hsl(205, 40%, 40%);
		color: white;
	}
	
		div.awesomplete mark {
			background: hsl(65, 100%, 50%);
		}
		
		div.awesomplete li:hover mark {
			background: hsl(68, 101%, 41%);
		}
		
		div.awesomplete li[aria-selected="true"] mark {
			background: hsl(86, 102%, 21%);
			color: inherit;
		}
.checkbox label {
	margin-bottom: 10px;
}
.checkbox label:before {
    border-radius: 3px;
}
.list_of_sales td{
    background-color: #FBFBF5;
	}
	
/*.list_of_sales tr, .list_of_sales td{
    border: 1px solid #DDD;
    border-top: 1px solid #DDD;
    line-height: 1.42857;
    vertical-align: top;
    text-align: center;
    border-bottom: 1px solid #DDD;
    padding: 2px;
    cursor: default;
    text-decoration: none;
	/*-moz-transition:-moz-transform 0.5s ease-in; 
-webkit-transition:-webkit-transform 0.5s ease-in; 
-o-transition:-o-transform 0.5s ease-in;*/
}
/*.list_of_sales td:hover{
transform: scale(1.1);
}*/*/
.list_of_sales{
position: relative;
	}
.list_of_sales th{
    background-color: #054B63;
    /* background-color: #8C8C8C; */
    color: #FFF;
    font-size: 15px;
    font-weight: bold;
    border-left: 1px solid #A3A3A3;
	}
	.check_box{
	    float: right;
	}
	
	.required_field{
	    display: block;
		 color: #F00;
	}
	.star{
	 color: #F00;
	}
.plans_visit_date{
    padding: 30px;
}
.fs-option-label{
    text-align: left;
}

.modal-dialog1 {
  margin:0 auto; 
    width: 600px;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable {
    position: absolute;
    height: auto;
    width: 637px !important;
    top: 0px;
    left: 439.5px;
    display: block;
    z-index: 9999;
}
.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix.ui-draggable-handle {
    display: none;
}